In [2]:
import pandas as pd

# Replace 'your_file.pkl' with the path to your pickle file
file_path = 'test_data.pkl'

# Load the DataFrame from the pickle file
df = pd.read_pickle(file_path)

# Now 'df' contains your DataFrame
test_data = pd.DataFrame(df)

In [4]:
# import test_data_nolabel.csv and add it to dataframe 
test_data_nolabel = pd.read_csv('./test_data_nolabel.csv')
test_data_nolabel

,Unnamed: 0,textID,text
0,0,3aae3dab5c,"That`s just weird... :\ Oh, and what was it ..."
1,1,2823b638c9,just got to kansas city and excited for a fun ...
2,2,6bed719d7a,Made it to Wisconsin... Now off to Golden Corr...
3,3,77a409775e,wooo am recovering from running race for life ...
4,4,0ce2cbb2d1,graduation next sunday.. im going to miss my c...
...,...,...,...
5492,5492,48ae485176,im stuck 2 this when my la love turns in2 ro...
5493,5493,c489f325a3,Just paid my bills now I have no money
5494,5494,e7e486ec1c,Nice idea for a M-I-L gift. Did you crochet i...
5495,5495,17dd98db9a,Listening to Obama with one ear & listening to...
5496,5496,2f5fbc9559,Thanks Sissy!!!!!!! Be sure to check ur Mysp...

In [3]:
test_data

,textID,text,label,label_text
0,3aae3dab5c,"That`s just weird... :\ Oh, and what was it ...",0,negative
1,2823b638c9,just got to kansas city and excited for a fun ...,2,positive
2,6bed719d7a,Made it to Wisconsin... Now off to Golden Corr...,0,negative
3,77a409775e,wooo am recovering from running race for life ...,2,positive
4,0ce2cbb2d1,graduation next sunday.. im going to miss my c...,0,negative
...,...,...,...,...
5492,48ae485176,im stuck 2 this when my la love turns in2 ro...,0,negative
5493,c489f325a3,Just paid my bills now I have no money,0,negative
5494,e7e486ec1c,Nice idea for a M-I-L gift. Did you crochet i...,2,positive
5495,17dd98db9a,Listening to Obama with one ear & listening to...,1,neutral
5496,2f5fbc9559,Thanks Sissy!!!!!!! Be sure to check ur Mysp...,2,positive

In [6]:
# export label column and save each column in one line in a trueLabel.txt file
test_data['label'].to_csv('trueLabel.txt', index=False, header=False)

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Assuming 'train_data' is your DataFrame
# Adjust 'test_size' based on the percentage you want for the evaluation data
train_df, eval_df = train_test_split(train_data, test_size=0.1, random_state=42)

# Optionally, you can export the evaluation data to a CSV file

In [28]:
eval_df

,textID,text,label,label_text
8086,313fc09dd5,"Oops..too late. Already popped in Bridges, s...",0,negative
7270,523d648da7,"fo sho, im down",1,neutral
19788,f782648201,I am the queen of losing things. Important thi...,1,neutral
2641,d55030a05e,had the best weekend EVER XXXXXXXXXXXXXXXXXXXXXX,2,positive
5216,06398ae0d1,My saying now http://bctiny.com/po4me,1,neutral
...,...,...,...,...
19591,1f7ac5ca5e,so cold,0,negative
3100,8291ccf502,workin at la bootay... wheres the warm weather...,1,neutral
5412,1d6fa7240f,"ain`t got any at the moment, sorry",0,negative
18110,be6c44f4e4,Watched Australia last night and got to say bl...,2,positive
19231,bd10824ad1,Mom has left... again,0,negative

In [27]:
train_df

,textID,text,label,label_text
14951,7627d7ca56,Hi : Found you through . i am indeed a pigment...,1,neutral
6051,7527ed21ee,I`m so unhappy being here. I hate it. It`s aff...,0,negative
12712,2f6d9d1419,#stackeoverflow http://bit.ly/13Nfk1,1,neutral
2930,9afe83da6a,I`m completely exhausted thanks to yesterday. ...,0,negative
2174,322b61740c,"90 degrees, gross skies, and thunderstorms...p...",2,positive
...,...,...,...,...
11964,96674184d6,_X sorry about that.,0,negative
21575,14ba250631,@_Bella_Cullen13 posted and its good,2,positive
5390,ae19d98db6,:: holy kraut. I canNOT stay up this late. But...,0,negative
860,e9fdfb3211,with your bicycle?,1,neutral
15795,4b9f6d5ddb,Having a good...no great day already & Dr.Mira...,2,positive

In [30]:
train_df.to_csv('./train_data.csv')

In [19]:
test_nolabel = df.drop(columns=["label", "label_text"])

In [20]:
test_nolabel

          textID                                               text
0     3aae3dab5c   That`s just weird... :\  Oh, and what was it ...
1     2823b638c9  just got to kansas city and excited for a fun ...
2     6bed719d7a  Made it to Wisconsin... Now off to Golden Corr...
3     77a409775e  wooo am recovering from running race for life ...
4     0ce2cbb2d1  graduation next sunday.. im going to miss my c...
...          ...                                                ...
5492  48ae485176   im stuck 2  this when my la love turns in2 ro...
5493  c489f325a3             Just paid my bills now I have no money
5494  e7e486ec1c   Nice idea for a M-I-L gift. Did you crochet i...
5495  17dd98db9a  Listening to Obama with one ear & listening to...
5496  2f5fbc9559    Thanks Sissy!!!!!!! Be sure to check ur Mysp...

[5497 rows x 2 columns]

In [21]:
test_nolabel.to_csv("./test_data_nolabel.csv")